*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #000  url(img/background.jpg) no-repeat fixed;
    background-size: cover;
}
.container {
    width: 90%;
    max-width: 1280px;
    margin: 1.5rem auto;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: #fff;
    letter-spacing: 4px;
}
.logo span {
    display: inline-block;
    background-color: #000;
    padding: 0.5rem 1rem;
    padding-right: calc(1rem - 4px);
    border-radius: 8px;
}
.nav a{
    margin-right: 2rem;
    color: #fff;
}
.main {
    width: 70%;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 4px;
}
.thumb {
    margin-bottom: 1rem;
}
.thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 4px;
}
article h2 {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 2rem;
}
article p {
    line-height: 1.5rem;
    text-align: justify;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 1rem;
    background-color: #537dca;
    border-radius: 4px;
}
.aside .ad {
    padding: 4rem 0;
    text-align: center;
    background-color: #4264ae;
    color: #fff;
    font-size: 2rem;
    border-radius: 4px;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}
.autor {
    color: #fff;
}
.social-networks a{
    margin-left: 1.5rem;
    color: #fff;
}
/* RESPONSIVE DESING */
@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }
    .aside {
        width: 100%;
        flex-direction: row;
    }
    .aside .ad {
        width: 45%;
    }
}
@media screen and (max-width: 600px) {
    .header{
        flex-direction: column;
    }
    .logo {
        margin-bottom: 1.5rem;
    }
    .nav {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 4px;
    }
    .nav a{
        margin: 0 1.5rem;
    }
    @media screen and (max-width: 480px){
        .footer {
            flex-direction: column;
            align-items: center;
        }
        .autor {
            margin-top: 1rem;
            order: 2;
        }
        .social-networks{
            order: 1;
        }
        .social-networks a {
            margin: 0 1rem;
        }
        .aside{
            display: none;
        }
    }
}